@charset "UTF-8";
@font-face {
  font-family: 'Wagner Grotesk Pro';
  src: url("../fonts/wagner-grotesk-pro");
  src: local("☺"), url("../fonts/wagner-grotesk-pro.woff") format("woff"), url("../fonts/wagner-grotesk-pro.ttf") format("truetype"), url("../fonts/wagner-grotesk-pro.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

/* line 1, ../../Users/Admin/Documents/webdev/mc/scss/_elements.scss */
.btn-primary {
  text-transform: uppercase;
  border-radius: 1px; }

/* line 5, ../../Users/Admin/Documents/webdev/mc/scss/style.scss */
.contact-btn-container {
  position: fixed;
  right: 40px;
  z-index: 1; }

/* line 11, ../../Users/Admin/Documents/webdev/mc/scss/style.scss */
.para {
  height: 100vh;
  overflow: hidden;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  transition: all 999999s; }
  /* line 19, ../../Users/Admin/Documents/webdev/mc/scss/style.scss */
  .para:nth-child(2n) {
    box-shadow: inset 0 0 0em #111; }

/* line 24, ../../Users/Admin/Documents/webdev/mc/scss/style.scss */
.non-para {
  height: 100vh;
  opacity: 1;
  overflow: hidden;
  background-position: center center;
  background-size: cover; }

/* line 33, ../../Users/Admin/Documents/webdev/mc/scss/style.scss */
.bg-0 {
  background-image: url(../img/wood_1920x1280-min.jpg); }
  /* line 37, ../../Users/Admin/Documents/webdev/mc/scss/style.scss */
  .bg-0 .triangle {
    position: absolute;
    height: 100%;
    width: 80%;
    right: 0;
    overflow: hidden; }
    /* line 44, ../../Users/Admin/Documents/webdev/mc/scss/style.scss */
    .bg-0 .triangle svg {
      position: relative;
      top: 50%;
      transform: translateY(-50%); }
  /* line 51, ../../Users/Admin/Documents/webdev/mc/scss/style.scss */
  .bg-0 .v-center {
    position: absolute;
    width: 100%;
    margin-top: 30vh;
    transition: all 999999s; }
    /* line 57, ../../Users/Admin/Documents/webdev/mc/scss/style.scss */
    .bg-0 .v-center .logo {
      color: #fff;
      text-align: center;
      text-transform: uppercase;
      font-family: 'Wagner Grotesk Pro', sans-serif;
      font-weight: 400;
      font-size: 140px;
      text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6); }
    /* line 67, ../../Users/Admin/Documents/webdev/mc/scss/style.scss */
    .bg-0 .v-center .home-navigation {
      position: relative;
      width: 600px;
      height: 200px;
      margin: -170px auto 0; }
      /* line 74, ../../Users/Admin/Documents/webdev/mc/scss/style.scss */
      .bg-0 .v-center .home-navigation .item.one {
        position: absolute;
        top: 50px;
        left: 50px; }
      /* line 80, ../../Users/Admin/Documents/webdev/mc/scss/style.scss */
      .bg-0 .v-center .home-navigation .item.two {
        position: absolute;
        top: 150px;
        left: 50%;
        margin-left: -40px; }
      /* line 87, ../../Users/Admin/Documents/webdev/mc/scss/style.scss */
      .bg-0 .v-center .home-navigation .item.three {
        position: absolute;
        top: 50px;
        right: 50px; }

/* line 99, ../../Users/Admin/Documents/webdev/mc/scss/style.scss */
.bg-1 {
  background-image: url(../img/raimepott_1920x1280.jpg); }

/* line 103, ../../Users/Admin/Documents/webdev/mc/scss/style.scss */
.bg-2 {
  background-image: url(../img/kalavalik_1920x1280.jpg); }

/* line 107, ../../Users/Admin/Documents/webdev/mc/scss/style.scss */
.bg-3 {
  background-image: url(../img/suupistevalik_1920x1280.jpg); }

/*# sourceMappingURL=style.css.map */
