@import "_fonts.scss";
@import "_variables.scss";
@import "_elements.scss";

.contact-btn-container {
    position: fixed;
    right: 40px;
    z-index: 1;
}

.para {
    height: 100vh;
    overflow: hidden;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    transition: all 999999s;

    &:nth-child(2n) {
        box-shadow: inset 0 0 0em #111;
    }
}

.non-para {
    height: 100vh;
    opacity: 1;
    overflow: hidden;
    //background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}

.bg-0 {
    background-image: url(../img/wood_1920x1280-min.jpg);


    .triangle {
        position: absolute;
        height: 100%;
        width: 80%;
        right: 0;
        overflow: hidden;

        svg {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    .v-center {
        position: absolute;
        width: 100%;
        margin-top: 30vh;
        transition: all 999999s;

        .logo {
            color: #fff;
            text-align: center;
            text-transform: uppercase;
            font-family: 'Wagner Grotesk Pro', sans-serif;
            font-weight: 400;
            font-size: 140px;
            text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
        }

        .home-navigation {
            position: relative;
            width: 600px;
            height: 200px;
            margin: -170px auto 0;

            .item {
                &.one {
                    position: absolute;
                    top: 50px;
                    left: 50px;
                }

                &.two {
                    position: absolute;
                    top: 150px;
                    left: 50%;
                    margin-left: -40px
                }

                &.three {
                    position: absolute;
                    top: 50px;
                    right: 50px;
                }
            }


        }
    }
}

.bg-1 {
    background-image: url(../img/raimepott_1920x1280.jpg);
}

.bg-2 {
    background-image: url(../img/kalavalik_1920x1280.jpg);
}

.bg-3 {
    background-image: url(../img/suupistevalik_1920x1280.jpg);
}






@media (min-width: 992px) and (max-width: 1199px) {

}

@media (min-width: 768px) and (max-width: 991px) {

}

@media (max-width: 767px) {

}

@media (max-width: 600px) {

}

@media (max-width: 410px) {

}

@media (max-width: 370px) {

}
