@import "_fonts.scss";
@import "_variables.scss";
@import "_images.scss";
@import "_elements.scss";

// BASE STYLES ///////////////////////////////////////////////
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}
h2 {
    font-family: 'Antonio Light', sans-serif;
    font-size: 32px;
    color: $yellow;
    padding-bottom: 10px;
}

p {
    color: white;
}

a {
    color: white;
    text-decoration: underline;
}

u {
    text-decoration: underline;
}
// end base styles ---------------------------------------------

// NAVBAR //////////////////////////////////////////////////////
.navbar-fixed-top {


    .site-logo {

    }

    .navbar-collapse {
        text-align: center;

        .navbar-nav {
            float: none;
            display: inline-block;
            background: rgba(255, 255, 255, 0.3);
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            padding: 0 25px;
            opacity: 0;
            height: 0;
            overflow: hidden;
            transition: all 0.5s ease;

            li {

                a {

                    span {
                        position: relative;
                        display: inline-block;
                        width: 30px;

                        i {

                        }
                    }

                }

                &.active {

                    a {
                        border: 2px solid black;
                    }
                }

                &.ignore.active {

                    a {
                        border: 0px solid black;
                    }
                }
            }

        }
    }
}
// end navbar --------------------------------------------------

// PAGES ///////////////////////////////////////////////////////
#home {
    background-image: url(../img/wood_1920x1280-min.jpg);

    .triangle {
        position: absolute;
        height: 100%;
        width: 84%;
        right: 0;
        overflow: hidden;

        svg {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            overflow: hidden;
        }

        .chef {
            @include chef-img;
            height: 464px*1.9 ;
            width: 444px*1.9;
            background-size: 444px*1.9 464px* 1.9;
            position: absolute;
            bottom: -60px;
            right: -100px;
        }
    }

    .v-center {
        position: absolute;
        width: 100%;
        top: 300px;
        transition: all 999999s;

        .center-logo {
            @include logo-img-white;
            width: (100px*1.32);
            height:(56px*1.32);
            background-size: (100px*1.32) (56px*1.32);
            margin: 0 auto;
        }

        .home-navigation {
            position: relative;
            width: 600px;
            height: 200px;
            margin: -130px auto 0;

            .item {
                font-family: 'Antonio Light', sans-serif;
                font-size: 27px;
                text-transform: uppercase;
                letter-spacing: 6px;
                color: $yellow;
                text-decoration: none;
                transition: all 0.2s ease-in-out;

                &:hover, &:focus {
                    text-decoration: none;
                    color: $yellow;
                    transform: scale(1.1);
                }



                &.one {
                    position: absolute;
                    top: 75px;
                    left: 35px;
                    width: 140px;

                    .decor {
                        @include text-decor-img;
                        margin: -20px 44px;
                    }
                }

                &.two {
                    position: absolute;
                    top: 200px;
                    left: 50%;
                    margin-left: -110px;

                    .decor {
                        @include text-decor-img;
                        margin: -20px 81px;
                    }
                }

                &.three {
                    position: absolute;
                    top: 75px;
                    right: 40px;

                    .decor {
                        @include text-decor-img;
                        margin: -20px 36px;
                    }
                }
            }
        }
    }
}

#cafe {
    background-image: url(../img/raimepott_1920x1280_light.jpg);

    .triangle {
        position: absolute;
        height: 100%;
        width: 40%;
        left: 0;
        overflow: hidden;

        svg {
            opacity: 0.8;
            position: relative;
            top: 60%;
            transform: translateY(-50%);
        }

        .text {
            position: absolute;
            width: 60%;
            top: 44%;
            padding: 20px 20px 20px 40px;
        }

    }

}

#catering {
    background-image: url(../img/kalavalik_1920x1280_light.jpg);

    .triangle {
        position: absolute;
        height: 100%;
        width: 50%;
        right: 0;
        overflow: hidden;

        svg {
            position: relative;
            top: 40%;
            transform: translateY(-50%);
            opacity: 0.8;
        }

        .text {
            position: absolute;
            width: 58%;
            top: 26%;
            right: 0;
            padding: 20px 20px 20px 40px;
        }

    }


}

#equipment {
    background-image: url(../img/suupistevalik_1920x1280_light.jpg);

    .triangle {
        position: absolute;
        height: 100%;
        width: 40%;
        left: 0;
        overflow: hidden;


        svg {
            position: relative;
            top: 60%;
            transform: translateY(-50%);
            opacity: 0.8;
        }

        .text {
            position: absolute;
            width: 60%;
            top: 44%;
            padding: 20px 20px 20px 40px;
        }
    }
}

#contact {
    background-image: url(../img/wood_1920x1280-min.jpg);

    .triangle {
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        overflow: hidden;

        svg {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }

        .text {
            position: absolute;
            width: 100%;
            top: 25%;

            form {
                margin: 0 auto;
                width: 30%;

                .group {
                    position:relative;
                    margin-bottom:45px;
                }
                input {
                    background: transparent;
                    color: white;
                    font-size:18px;
                    padding:10px 10px 10px 5px;
                    display:block;
                    width:100%;
                    border:none;
                    border-bottom:2px solid white;
                }
                input:focus {
                    outline:none;
                }

                textarea {
                    background: transparent;
                    color: white;
                    font-size:18px;
                    padding:10px 10px 10px 5px;
                    display:block;
                    width:100%;
                    height: 200px;
                    border:none;
                    border-bottom:2px solid white;
                }

                textarea:focus {
                    outline:none;
                }

                /* LABEL ======================================= */
                label {
                    color: $yellow;
                    font-size:18px;
                    font-weight:normal;
                    position:absolute;
                    pointer-events:none;
                    left:5px;
                    top:10px;
                    transition:0.2s ease all;
                    -moz-transition:0.2s ease all;
                    -webkit-transition:0.2s ease all;
                }

                /* active state */
                input:focus ~ label, input:valid ~ label, textarea:focus ~ label, textarea:valid ~ label {
                    top:-20px;
                    font-size:14px;
                    color: $yellow;
                }

                /* BOTTOM BARS ================================= */
                .bar {
                    position:relative;
                    display:block;
                    width:100%;
                }
                .bar:before, .bar:after {
                    content:'';
                    height:4px;
                    width:0;
                    bottom:1px;
                    position:absolute;
                    background: white;
                    transition:0.2s ease all;
                    -moz-transition:0.2s ease all;
                    -webkit-transition:0.2s ease all;
                }
                .bar:before {
                    left:50%;
                }
                .bar:after {
                    right:50%;
                }

                /* active state */
                input:focus ~ .bar:before, input:focus ~ .bar:after, textarea:focus ~ .bar:before, textarea:focus ~ .bar:after {
                    width:50%;
                }

                /* HIGHLIGHTER ================================== */
                .highlight {
                    position:absolute;
                    height:60%;
                    width:100px;
                    top:25%;
                    left:0;
                    pointer-events:none;
                    opacity:0.5;

                    &.textarea {
                        height:90%;
                        top:6%;
                    }
                }

                /* active state */
                input:focus ~ .highlight, textarea:focus ~ .highlight {
                    -webkit-animation:inputHighlighter 0.3s ease;
                    -moz-animation:inputHighlighter 0.3s ease;
                    animation:inputHighlighter 0.3s ease;
                }

                /* ANIMATIONS ================ */
                @-webkit-keyframes inputHighlighter {
                    from { background:$yellow; }
                    to 	{ width:0; background:transparent; }
                }
                @-moz-keyframes inputHighlighter {
                    from { background:$yellow; }
                    to 	{ width:0; background:transparent; }
                }
                @keyframes inputHighlighter {
                    from { background:$yellow; }
                    to 	{ width:0; background:transparent; }
                }

                .btn {
                    width: 100%;
                }
            }

        }

        .footer {
            position: absolute;
            right: 40px;
            bottom: 20px;
        }
    }


}
// end pages ----------------------------------------------------

// MEDIA QUERIES ////////////////////////////////////////////////
@media (max-width: 1860px) {

    p {
        font-size: 0.9em;
    }

    #home {

        .triangle {
            position: absolute;
            height: 100%;
            width: 84%;
            right: 0;
            overflow: hidden;

            svg {
                position: relative;
                top: 55%;
                transform: translateY(-50%);
            }

            .chef {
                height: 464px * 1.6;
                width: 444px * 1.6;
            }
        }
    }

    #cafe {

        .triangle {
            width: 65%;

            svg {
                height: 75%;
            }

            .text {
                width: 50%;
                top: 46%;
            }
        }
    }

    #catering {

        .triangle {
            position: absolute;
            height: 100%;
            width: 56%;
            right: 0;
            overflow: hidden;

            svg {
                position: relative;
                top: 40%;
                transform: translateY(-50%);
                opacity: 0.8;
                height: 100%;
            }

            .text {
                position: absolute;
                width: 58%;
                top: 25%;
                right: 0;
                padding: 20px 20px 20px 40px;
            }

        }


    }

    #equipment {

        .triangle {
            position: absolute;
            height: 100%;
            width: 40%;
            left: 0;
            overflow: hidden;


            svg {
                position: relative;
                top: 60%;
                transform: translateY(-50%);
                opacity: 0.8;
            }

            .text {
                position: absolute;
                width: 60%;
                top: 44%;
                padding: 20px 20px 20px 40px;
            }
        }
    }

    #contact {
        .triangle {
            .text {
                top: 18%;
            }
        }
    }

}

@media (max-width: 1450px) {

    p {
        font-size: 0.9em;
    }

    #home {

        .triangle {
            position: absolute;
            height: 100%;
            width: 84%;
            right: 0;
            overflow: hidden;

            svg {
                position: relative;
                top: 55%;
                transform: translateY(-50%);
            }

            .chef {
                height: 464px * 1.3;
                width: 444px * 1.3;

            }
        }
    }

    #cafe {

        .triangle {
            position: absolute;
            height: 100%;
            width: 65%;
            left: 0;
            overflow: hidden;

            svg {
                opacity: 0.8;
                position: relative;
                top: 60%;
                transform: translateY(-50%);
                height: 75%;
            }

            .text {
                font-size: 0.9em;
                position: absolute;
                width: 55%;
                top: 40%;
                padding: 20px 20px 20px 40px;
            }

        }

    }

    #catering {

        .triangle {
            position: absolute;
            height: 100%;
            width: 65%;
            right: 0;
            overflow: hidden;

            svg {
                position: relative;
                top: 40%;
                transform: translateY(-50%);
                opacity: 0.8;
                height: 100%;
            }

            .text {
                font-size: 0.9em;
                position: absolute;
                width: 55%;
                top: 23%;
                right: 0;
                padding: 20px 20px 20px 40px;
            }

        }
    }

    #equipment {

        .triangle {
            position: absolute;
            height: 100%;
            width: 65%;
            left: 0;
            overflow: hidden;

            svg {
                opacity: 0.8;
                position: relative;
                top: 60%;
                transform: translateY(-50%);
                height: 75%;
            }

            .text {
                font-size: 0.9em;
                position: absolute;
                width: 55%;
                top: 47%;
                padding: 20px 20px 20px 40px;
            }

        }

    }

    #contact {
        .triangle {
            .text {
                top: 20%;

                form {
                    width: 40%;

                    .group {
                        margin-bottom: 25px;
                    }

                    input:focus ~ label, input:valid ~ label, textarea:focus ~ label, textarea:valid ~ label {
                        top: -15px;
                        font-size:  0.7em;
                        color: $yellow;
                    }

                    label {
                        font-size: 0.9em;
                    }

                    input{
                        font-size: 0.9em;
                    }

                    textarea {
                        font-size: 0.9em;
                        height: 150px;
                    }

                }
            }

            .footer {
            }
        }
    }

}

@media (max-width: 1199px) {

}

@media (max-width: 991px) {
    #home {

        .triangle {
            position: absolute;
            height: 100%;
            width: 84%;
            right: 0;
            overflow: hidden;

            svg {
                position: relative;
                top: 55%;
                transform: translateY(-50%);
            }

            .chef {
                height: 464px * 1.3;
                width: 444px * 1.3;

            }
        }
    }
}

@media (max-width: 767px) {

}

@media (max-width: 600px) {

}

@media (max-width: 410px) {

}

@media (max-width: 370px) {

}
// end media queries ---------------------------------------------

@import "_ie.scss";
